:root {
    /* Primary colors */
    --primary-color: #009fff;
    --secondary-color: #328678;
    --Primary-dark-Mud: #403E3E;
    --Primary-white-Mud: #FEF8F9;
    --Primary-orange-Mud: #FFB92C;
    --Primary-background: #CDDBD9;
}
@page {margin: 160px 0px;}
body{font-family: "Montserrat", Arial, sans-serif;}
h1, h2, h3, h4{font-family: "Montserrat", Arial, sans-serif;font-weight: 700;font-style: normal;line-height: normal;}
p{font-family: "poppins", Arial, sans-serif;}
h1{font-size: 32px; color: var(--Primary-white-Mud);}
h2{font-size: 24px; color: var(--primary-color);}
h3{font-size: 18px; color: var(--primary-color);}
h4{font-size: 16px; color: var(--Primary-dark-Mud);} 
header { position: fixed; left: 0px; right: 0px; height: 80px; margin-top: -160px;background-color: var(--Primary-background);}
footer { position: fixed;  left: 0px; right: 0px; bottom: -160px;background-color: var(--Primary-background); width: 100%; padding: 0px 25px;}
header .page-title {position: absolute; left: 30px; top: 50%; transform: translateY(-50%); width: 70%; margin: 0px; color:var(--Primary-dark-Mud);}
.client-logo{position: absolute; right: 10px; top: 15px; width: 30%; text-align: right;}
.client-logo img{max-width:60%;  max-height: 60px; object-fit: contain;}
main{margin: 0px 25px; margin-top: -60px;margin-bottom: -50px;}
.footer_wrapper{margin: 0 25px;}
.main-left-section{width: 60%; float: left;}
.main-right-section{width: 40%; float: right;}
.details-wrapper{clear: both;}
.details-left-section{width: 40%; float: left;}
.details-right-section{width: 60%; float: right;}
.product-information p, .nutrition-wrapper p{font-size: 12px;}
.product-image-section img{max-width:100%;object-fit: contain;border-radius: 3rem;}
p.footer-official-details{color: var(--primary-color);font-size: 12px;font-weight: 600;font-family: "Montserrat", Arial, sans-serif;}
.fw-bold {font-weight: 700;}

.nutrition-table {width: 100%;border-collapse: collapse;font-family: Arial, sans-serif;font-size: 12px;color: #333;}
.nutrition-table th,.nutrition-table td,.footer-table th,.footer-table td {padding: 5px 7px;text-align: left;}
.nutrition-table thead th,.footer-table thead th {border-bottom: 1px solid #ccc;font-weight: bold;}
.nutrition-table tbody td, .footer-table tbody td{border-bottom: 1px solid #e0e0e0;}
.footer-table {width: 100%;border-collapse: collapse;font-family: Arial, sans-serif;font-size: 10px;color: #333;}
